<h1>Message already added</h1>
<p>Your link is <a href="<%= url("/message/#{@m.link}") %>"><%= url("/message/#{@m.link}") %></a></p>
<p>It will be destroy after <%= @m.count %> <%= @m.method %>.</p>
<a class="button" href="/">Return to main page</a>